<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- <h1>Counter</h1>
    <form action="add" method="post">
        <input type="submit" value="Add+2">
    </form>
    <form action="clear" method="post">
        <input type="submit" value="Reset">
    </form> -->
    <form action="process" method="post">
        
        Your Name: <input type="text" name="name">
        Dojo Location: <select name="location">
            <option value="SJ">SJ</option>
            <option value="Seattle">Seattle</option>
            <option value="Berkeley">Berkeley</option>
            <option value="LA">LA</option>
          </select>
        Fav Language: <select name="language">
            <option value="NotSwift">NotSwift</option>
            <option value="NotSwift">NotSwift</option>
            <option value="NotSwift">NotSwift</option>
            <option value="NotSwift">NotSwift</option>
          </select>
        <input type="submit" value="Submit">

    </form>
</body>
</html>